---
import Layout from '../layouts/Layout.astro';
import Terminal from '../components/Terminal.astro';
---

<Layout title="Portfolio | Torben Erdmann">
	<main class="desktop-main">
		<Terminal />
	</main>
</Layout>

<style>
	.desktop-main {
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		padding-top: 32px; /* Platz für die Top-Bar */
	}
</style>